.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: linear-gradient(45deg, #6b940b 0%, #f3d77b 100%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left:0;
  right:0;
  z-index: 1000;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

.brand-text {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 22px;
  color: #d4af37 !important;
  text-decoration: none;
  letter-spacing: 1px;
}

.search-bar {
  width: 250px;
  border-radius: 8px;
}

.admin-header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.admin-header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle {
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.theme-toggle:hover {
  color: #6b940b;
}

